table {
    margin: 20px;
    border-color: black;
}

td {
    padding: 8px;
    text-align: center;
}
/* style.css */

body {
    margin: 0;
    overflow: hidden;
}

table {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#patterns{
    position: relative;
    top :10px ;

}

.hide {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}
