
/**/
table {
    border-color: black;
}

td {
    padding: 8px;
    text-align: center;
}
/* style.css */

table {
    border: none;
    width: 100%;
    height: 100%;
}



#patterns{
    position: relative;
    top :10px ;

}

.hide {
    display: none;
}
